<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhe Convidado</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/convidado.css' %}">

</head>
<body>

    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-8">
            <h1>{{ post.nome }}</h1>
        </div>

        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-8 box">
            {% if post.nome = 'Filipe' %}
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cum dignissimos dolor dolorem incidunt itaque quam rerum tempora veritatis. Aliquid architecto dolorem harum quis rerum vitae? Blanditiis fugiat, laudantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iure minus perferendis quae. Consequuntur culpa deleniti error eveniet, exercitationem facere minus mollitia nostrum odio odit officiis omnis, reprehenderit sit, voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur cum deserunt dolor esse eveniet ex magni minima nemo, omnis quidem reprehenderit ullam velit voluptatem voluptatibus! Dolorem esse harum molestiae.</p>
            {% elif post.nome = 'Mayara' %}
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, nemo, vel? Aperiam assumenda enim eveniet perspiciatis vel! Corporis ea eaque earum eligendi ipsum numquam optio repellendus sunt! Modi, numquam, quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusamus, ad, aliquid consequuntur cum deleniti esse, iusto magnam nihil placeat quasi qui ratione repudiandae rerum soluta tempore tenetur vel? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, dolore, error et eum hic incidunt iure labore laboriosam nesciunt nostrum numquam quos saepe tempore unde. Adipisci autem dolorum sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ea iusto sunt tenetur. Blanditiis corporis eaque in incidunt laudantium quisquam recusandae reprehenderit! Animi eum maxime minima, nobis odio quibusdam veniam?</p>
            {% else %}
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at, consequuntur delectus dolor ea eaque facere in iusto laborum nisi placeat quisquam quod reiciendis rem reprehenderit repudiandae sequi sit soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae commodi dolorem illo labore minus nam non, odio officiis placeat quo ratione recusandae reprehenderit tempore tenetur? Excepturi fuga reprehenderit sequi!</p>
            {% endif%}
        </div>

        <div class="col-md-2">

        </div>
    </div>



</body>
</html>