<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <link rel="stylesheet" href="{% static 'css/convidado.css' %}">
</head>
<body>
    <h1>O JP é uma bicha arrombada! Bicha Puta!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, atque aut consequuntur doloremque ea et eum ipsa itaque, libero magnam maxime nostrum pariatur perspiciatis quibusdam reiciendis saepe tempore vel, voluptatum.</p>

</body>
</html>