h1{
    color: #FCA205;
    font-family: 'Lobster';
}
.titulo{
    text-align: center;
}

a:link{
   text-decoration:none;
}

.caixa{
    background: #DEB887;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    min-height: 500px;
}
ul{
    padding: 10px;
}
li{
   list-style-type:none;
   text-align: center;
   padding: 0px 0px 0px 1px;
   margin: 5px;
   height: 40px;
   background: #F5DEB3;
   border: 0px solid;
   border-radius: 3px;
   box-shadow: 1px 1px 1px #888888;
}

li:hover {
    background: #A0522D;
}

li:hover .convi{
    color: #F5DEB3;
}

.convi{
    display: inline-block;
    margin: 10px 1px;
    width: 300px;
    text-align: left;
    font-weight: bold;
    color: #A0522D;
}
.rotulo{
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    color: #FCA205;
    width: 100px;
}

p{
    padding: 15px;
    color: #A0522D;
    text-indent: 50px;
    font-weight: bold;
}

.botao{
   display: inline-block;
   background: #F5DEB3;
   width: 150px;
   margin: 5px;
   border: 0px solid;
   border-radius: 3px;
   box-shadow: 1px 1px 1px #888888;
   padding: 5px;
   text-align: center;
}

.botao a{
    font-weight: bold;
    color: #A0522D;
}

.botao:hover{
     background: #A0522D;
}

.botao:hover a{
     color: #F5DEB3;
}
.paibotao{
    text-align: right;
    padding: 10px;
}
.mapa{
    margin: 10px;
    width: 870px;
    height: 500px;
    box-shadow: 1px 1px 1px #888888;
    display: inline-block;
}
