h1{
    color: #FCA205;
    font-family: 'Lobster';
}
.titulo{
    text-align: center;
}

.box{
    background: #DEB887;
    height: 500px;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
}
ul{
    padding: 10px;
}
li{
   list-style-type:none;
   text-align: center;
   padding: 0px 0px 0px 1px;
   margin: 5px;
   height: 40px;
   background: #F5DEB3;
   border: 0px solid;
   border-radius: 3px;
   box-shadow: 1px 1px 1px #888888;
}
.convi{
    display: inline-block;
    margin: 10px 1px;
    width: 100px;
    text-align: left;
    font-weight: bold;
    color: #A0522D;
}
.rotulo{
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    color: #FCA205;
}
